@import 'partials/variables';
@import 'partials/global';
@import 'partials/header';
@import 'partials/navigation';
@import 'partials/services';
@import 'partials/main-block';
@import 'partials/team';
@import 'partials/swiper';
@import 'partials/about';
@import 'partials/pro';
