[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-barber-chair:before { content: '\e800'; } /* '' */
.icon-cart:before { content: '\e801'; } /* '' */
.icon-checked:before { content: '\e802'; } /* '' */
.icon-chevron-down:before { content: '\e803'; } /* '' */
.icon-chevron-left:before { content: '\e804'; } /* '' */
.icon-chevron-right:before { content: '\e805'; } /* '' */
.icon-chevron-up:before { content: '\e806'; } /* '' */
.icon-close:before { content: '\e807'; } /* '' */
.icon-eyelashes-care:before { content: '\e808'; } /* '' */
.icon-hair-cosmetics:before { content: '\e809'; } /* '' */
.icon-hair-dryer:before { content: '\e80a'; } /* '' */
.icon-hair-follicle:before { content: '\e80b'; } /* '' */
.icon-hairstyle:before { content: '\e80c'; } /* '' */
.icon-hide:before { content: '\e80d'; } /* '' */
.icon-login:before { content: '\e80e'; } /* '' */
.icon-logout:before { content: '\e80f'; } /* '' */
.icon-nail-device:before { content: '\e810'; } /* '' */
.icon-nail-painting:before { content: '\e811'; } /* '' */
.icon-nail-polish-removing:before { content: '\e812'; } /* '' */
.icon-nail-tools:before { content: '\e813'; } /* '' */
.icon-natural-ingredients:before { content: '\e814'; } /* '' */
.icon-scissors:before { content: '\e815'; } /* '' */
.icon-search:before { content: '\e816'; } /* '' */
.icon-sidebar:before { content: '\e817'; } /* '' */
.icon-services-1:before { content: '\e818'; } /* '' */
.icon-services-2:before { content: '\e819'; } /* '' */
.icon-services-3:before { content: '\e81a'; } /* '' */
.icon-services-4:before { content: '\e81b'; } /* '' */
.icon-services-5:before { content: '\e81c'; } /* '' */
.icon-services-6:before { content: '\e81d'; } /* '' */
.icon-services-7:before { content: '\e81e'; } /* '' */
.icon-category:before { content: '\e81f'; } /* '' */
.icon-none:before { content: '\e820'; } /* '' */
.icon-basket-add:before { content: '\e821'; } /* '' */
.icon-coupon:before { content: '\e822'; } /* '' */
.icon-plus:before { content: '\e823'; } /* '' */
.icon-minus:before { content: '\e824'; } /* '' */