@font-face {
  font-family: "Kinghoot";
  src: url("../../fonts/Kinghood.otf");
}
@font-face {
  font-family: "Caramello-free";
  src: url("../../fonts/Caramello-Free.otf");
}
*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #625e5c;
  background: #e1ddd9;
  line-height: 1.3;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.jf-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-decor-none {
  text-decoration: none;
}

.title {
  color: #171412;
  font-size: 55px;
  font-family: "Kinghoot", sans-serif, "Arial", "Helvetica";
  font-weight: 300;
}

.footer-title {
  color: #fff;
  font-size: 25px;
  font-family: "Kinghoot", sans-serif, "Arial", "Helvetica";
  font-weight: 100;
  line-height: 40px;
}

.footer-subtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 31px;
  font-family: "Manrope", sans-serif, "Arial", "Helvetica";
  color: #fff;
}

.special-title {
  color: #e66445;
  font-family: "Caramello-free", sans-serif;
  font-size: 80px;
  font-weight: 300;
}

.subtitle {
  font-size: 18px;
  color: #625e5c;
  line-height: 35px;
}

.btn {
  border: none;
  padding: 21px 54px;
  color: #fff;
  font-size: 18px;
  font-family: "Manrope", sans-serif, "Arial", "Helvetica";
}

.main-nav {
  border-top: 0.01em solid #949190;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.main-nav_logo {
  text-decoration: none;
  font-family: "Kinghoot", sans-serif, "Arial", "Helvetica";
  text-transform: uppercase;
  font-size: 25px;
  color: #171412;
  display: flex;
  align-items: center;
}
.main-nav_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-nav_item {
  margin: 0 18px;
  list-style: none;
}
.main-nav_link {
  text-transform: capitalize;
  text-decoration: none;
  color: #171412;
  font-size: 16px;
  transition: 150ms ease-in;
}
.main-nav_link:hover {
  color: #e66445;
}

.services {
  background-color: #864c36;
}
.services-card {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 35px;
}
.services-card_subItem {
  display: inline-block;
  overflow: hidden;
}
.services-card_items {
  border: solid 1px #ffffff;
  border-radius: 500px;
  padding: 10px;
}
.services-card_item {
  overflow: hidden;
  display: block;
  border-radius: 500px;
}
.services-card_title {
  font-family: "Kinghoot", sans-serif, "Arial", "Helvetica";
  text-align: center;
  font-size: 55px;
  line-height: 68px;
  color: #FAF6F5;
  padding-top: 80px;
}
.services-card_subtitle {
  color: #fff;
  font-size: 18px;
  line-height: 35px;
}
.services-card_special {
  margin-left: -20px;
  width: 35%;
  white-space: nowrap;
  font-size: 80px;
}
.services-card_client {
  display: flex;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;
}
.services-card_img {
  display: block;
  transition: 1s;
  border-radius: 500px;
  width: 286px;
  height: 399px;
  transform: scale(1.1);
}
.services-card_img:hover {
  transform: scale(1.2);
}

.main-block {
  padding-bottom: 30px;
  border-bottom: 1px solid #625e5c;
}
.main-block_flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.main-block_description {
  width: 50%;
}
.main-block_title {
  font-size: 70px;
  line-height: 70px;
  margin: 0;
}
.main-block_button {
  background-color: #e66445;
  border: none;
  padding: 21px 54px;
  color: #fff;
  font-size: 18px;
  font-family: "Manrope", sans-serif, "Arial", "Helvetica";
}
.main-block_showroom {
  width: 50%;
}
.main-block_img-block {
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: relative;
}
.main-block_img {
  border-radius: 500px 500px 0px 0px;
  padding: 10px;
  border: 1px solid #949190;
}
.main-block_spin {
  position: absolute;
  left: 15%;
  top: 0;
}
.main-block_spin_text {
  letter-spacing: 1.7px;
}
.main-block_spin:hover i {
  background-color: #e66445;
}
.main-block_icon-play {
  position: absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
  clip-path: polygon(9.5% 0.5%, 91% 50%, 9.5% 99.5%);
  width: 37px;
  height: 37px;
  font-size: 37px;
  line-height: 1;
  transition: background-color 0.3s, color 0.3s;
}
.main-block_icon-play_svg {
  opacity: 1;
  stroke-width: 3px;
  fill: none;
  width: 1.1em;
  stroke: #e66445;
  height: 1em;
  -webkit-transition: stroke 0.3s;
  transition: stroke 0.3s;
}

#rotatingText {
  animation-name: rotate-circle;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate-circle {
  to {
    transform: rotate(1turn);
  }
}
.team_titles {
  display: flex;
  justify-content: left;
}
.team_cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.team-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.team-card_subItem {
  display: inline-block;
  overflow: hidden;
  border-radius: 500px;
}
.team-card_img {
  display: block;
  border-radius: 500px;
  width: 300px;
  height: 400px;
  transition: 1s;
}
.team-card_img:hover {
  transform: scale(1.1);
}
.team-card_title {
  font-size: 20px;
  color: #171412;
  line-height: 20px;
  font-family: "Manrope", sans-serif, "Arial", "Helvetica";
  font-weight: 400;
  margin: 30px 0 10px 0;
}
.team-card_link {
  color: #e66445;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  transition: 150ms ease-in;
}
.team-card_link:hover {
  color: #171412;
}

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiperimg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next {
  color: #e66445;
}
.swiper-button-prev {
  color: #e66445;
}
.swiper-pagination {
  padding-bottom: 25px;
}
.swiper-pagination-bullet-active {
  background-color: #e66445;
}

.icon-services-6 {
  display: block;
  font-size: 450px;
}

.icon-services-6:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  content: "\e81d";
}

.about-us {
  background: url("../../assets/page-title-3.jpg") no-repeat;
  background-size: cover;
}
.about-us_main-block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 11% 0;
}
.about-us_main-block_title {
  font-size: 80px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}
.about-us_main-block_special {
  position: absolute;
  bottom: -100px;
  text-align: right;
  align-self: flex-end;
  font-size: 200px;
}

.pro-main {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 50%;
  margin: auto;
}
.pro-main_title {
  display: inline-block;
  font-size: 55px;
  line-height: 68px;
  margin-bottom: 10px;
}
.pro-main_special {
  display: block;
  font-size: 80px;
  line-height: 80px;
  position: absolute;
  right: -32%;
  top: 9%;
  margin-bottom: 10px;
}
.pro-cards {
  display: flex;
  justify-content: space-between;
}
.pro-card_title_text {
  font-size: 20px;
  line-height: 35px;
  font-weight: 500;
  color: #171412;
  font-family: "Manrope", sans-serif, "Arial", "Helvetica";
}
.pro-card_subtitle_text {
  font-size: 18px;
  line-height: 35px;
  font-weight: 100;
  color: #625e5c;
  font-family: "Manrope", sans-serif, "Arial", "Helvetica";
}

.icon-eyelashes-care {
  font-size: 70px;
  color: #e66445;
}
.icon-eyelashes-care::before {
  content: "\e808";
}

.icon-hair-follicle {
  font-size: 70px;
  color: #e66445;
}
.icon-hair-follicle::before {
  content: "\e80b";
}

.icon-hair-cosmetics {
  font-size: 70px;
  color: #e66445;
}
.icon-hair-cosmetics::before {
  content: "\e809";
}

.icon-natural-ingredients {
  font-size: 70px;
  color: #e66445;
}
.icon-natural-ingredients::before {
  content: "\e814";
}

.icon-services-6 {
  font-size: 611px;
}
.icon-services-6::before {
  content: "\e81d";
}

.words {
  overflow: hidden;
}
.words_text-block {
  width: 60%;
}
.words_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.words_titles {
  display: flex;
  align-items: center;
  margin: 0;
}
.words_title {
  margin: 0;
}
.words_bold {
  margin-top: 20px;
}
.words_special-title {
  margin-left: -20px;
}
.words_subtitle {
  color: #171412;
  margin: 20px 0;
}
.words_special {
  color: #171412;
  font-size: 50px;
  margin-left: 80px;
}
.words_authors {
  margin: 20px 1px;
  display: flex;
  justify-content: left;
}

.faq-main {
  background: url("../../assets/FAQ/faq.jpg") no-repeat;
  background-size: cover;
  height: 613px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.faq-main_title_text {
  font-size: 80px;
  line-height: 96px;
  font-family: "Kinghoot", sans-serif, "Arial", "Helvetica";
  color: #fff;
}

.faq .faq-questions_title_text {
  font-family: "Kinghoot", sans-serif, "Arial", "Helvetica";
  font-size: 35px;
  font-weight: 100;
  line-height: 50px;
  color: #171412;
}
.faq .faq-questions_titles_title {
  font-family: "Manrope", sans-serif, "Arial", "Helvetica";
  font-size: 18px;
  line-height: 27px;
  font-weight: 100;
  color: #171412;
}
.faq .faq-questions_titles_text {
  font-family: "Manrope", sans-serif, "Arial", "Helvetica";
  font-size: 18px;
  line-height: 35px;
  font-weight: 100;
  color: #625e5c;
}
.faq .faq-categories_link_list_item {
  list-style: none;
}

.last {
  border-bottom: 1px solid #171412;
}

.faq-titles_title_text {
  font-family: "Kinghoot", sans-serif, "Arial", "Helvetica";
  color: #625e5c;
  font-size: 25px;
  line-height: 40px;
  font-weight: 100;
}
.faq-titles_subtitle_text {
  font-family: "Manrope", sans-serif, "Arial", "Helvetica";
  color: #625e5c;
  font-size: 18px;
  line-height: 35px;
  font-weight: 100;
}

.faq-wrap {
  display: flex;
}

.footer {
  background-color: #403732;
}

.items-first_block {
  display: flex;
  justify-content: space-between;
}
.items-second {
  display: flex;
}

.pricing {
  background: url(../../assets/pricing/pricing-bg.jpg) no-repeat center;
}
.pricing-main_block {
  padding: 10% 0;
  position: relative;
  overflow: hidden;
}
.pricing-main_title {
  color: #fff;
  font-size: 80px;
}
.pricing-main_specials {
  position: absolute;
  left: 65%;
  bottom: -40%;
  transform: translate(-50%, -50%);
  font-size: 180px;
  white-space: nowrap;
}
.pricing-plans_cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pricing-plans_card {
  border: 1px solid black;
  padding: 52px 52px;
  width: 32%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.pricing-plans_card_title {
  font-size: 25px;
  font-family: "Kinghoot", sans-serif, "Arial", "Helvetica";
  font-weight: normal;
  color: #171412;
  margin-bottom: 12px;
}
.pricing-plans_card_special {
  font-size: 40px;
  font-family: "Kinghoot", sans-serif, "Arial", "Helvetica";
  font-weight: normal;
  color: #e66445;
  margin-bottom: 50px;
  line-height: 63px;
}
.pricing-plans_card_list {
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 57px;
}
.pricing-plans_card_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 27px;
  margin-bottom: 14px;
}
.pricing-plans_card_item:last-child {
  border-bottom: none;
}
.pricing-plans_card_item::after {
  font: 400 normal 18px/24px "fontello";
  width: 18px;
  height: 24px;
  display: inline-block;
  content: "\e802";
}
.pricing-plans_card_button {
  padding: 10px 20px;
  background-color: transparent;
  color: #625e5c;
  border: 1px solid black;
  font-size: 14px;
  padding: 21px 54px;
  font-family: "Manrope", sans-serif, "Arial", "Helvetica";
  font-weight: normal;
  cursor: pointer;
}
.pricing-plans_card_button:hover {
  background: #db421d;
}

.best_images-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.best-card {
  width: 49%;
  display: flex;
  flex-direction: column;
}
.best_image-block {
  padding: 20%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.best_image-block_right {
  background: url(../../assets/pricing/epilation.jpg) no-repeat center;
  background-size: 100%;
}
.best_image-block_left {
  background: url(../../assets/pricing/cosmetology-bg.jpg) no-repeat center;
  background-size: 100%;
}
.best_image-block_title {
  color: #fff;
  font-size: 35px;
}
.best-menu {
  display: flex;
  flex-direction: column;
}
.best-menu_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #757575;
}
.best-menu_item:last-child {
  border-bottom: none;
}
.best-menu_item_title {
  font-size: 20px;
}
.best-menu_link {
  font-size: 20px;
  color: #171412;
  text-decoration: none;
  font-family: "Manrope", sans-serif, "Arial", "Helvetica";
}
.best-menu_link:hover {
  color: #e66445;
}
.best-menu_description {
  color: #171412;
  font-size: 16px;
  margin: 5px 0;
}
.best-menu_price {
  font-size: 14px;
  color: #fff;
  padding: 8px;
  background: #000;
}

.eyebrows {
  padding: 5% 0 5% 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.eyebrows-block {
  background: url("../../assets/eyebrow-bg.jpg") no-repeat center;
}
.eyebrows_special {
  margin-bottom: 20px;
  font-size: 80px;
}
.eyebrows_title {
  color: #fff;
  margin: 0 0 20px 0;
  font-size: 65px;
}
.eyebrows_subtitle {
  color: #fff;
  font-size: 18px;
  margin-bottom: 50px;
}
.eyebrows_button {
  padding: 10px 20px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-size: 14px;
  padding: 21px 54px;
  font-family: "Manrope", sans-serif, "Arial", "Helvetica";
  font-weight: normal;
  cursor: pointer;
}
.eyebrows_button:hover {
  background: #db421d;
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 34px;
    line-height: 1em;
    text-align: center;
    margin: 0;
  }
  .subtitle {
    line-height: 1.5em;
  }
  .special-title {
    font-size: 41px;
    line-height: 41px;
    text-align: center;
  }
  .main-block_flex {
    flex-direction: column;
  }
  .main-block_title {
    font-size: 34px;
    line-height: 1em;
    text-align: center;
  }
  .main-block_subtitle {
    line-height: 1.5em;
    text-align: center;
  }
  .main-block_description {
    width: 100%;
    text-align: center;
  }
  .main-block_showroom {
    width: 100%;
  }
  .main-block_img-block {
    flex-direction: column;
  }
  .main-block_spin {
    left: -9%;
    top: 17px;
  }
  .main-block_img {
    width: 75%;
    margin: 42px auto 0;
  }
  .services-card_client {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services-card_title {
    font-size: 34px;
    line-height: 1em;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 45px;
  }
  .services-card_special {
    margin: 0;
    width: 100%;
    font-size: 41px;
    line-height: 41px;
    text-align: center;
  }
  .team_titles {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .team_cards {
    flex-direction: column;
  }
  .team-card {
    width: 100%;
    margin-bottom: 30px;
  }
  .team-card_img {
    width: 100%;
  }
  .eyebrows {
    padding: 100px 0;
    align-items: center;
  }
  .eyebrows-block {
    background-position: -700px;
  }
  .eyebrows_subtitle {
    text-align: center;
    line-height: 1.5em;
  }
  .pro {
    margin-top: 50px;
  }
  .pro-main {
    flex-direction: column;
    width: 100%;
  }
  .pro-main_special {
    position: static;
    margin: 20px;
  }
  .pro-cards {
    flex-direction: column;
  }
  .pro-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .pro-card_title_text {
    margin: 5px;
  }
  .pro-card_subtitle_text {
    margin: 5px 0 20px 0;
  }
  .words_titles {
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
  .words_title {
    margin-bottom: 10px;
  }
  .words_special {
    margin-left: 50px;
  }
  .pricing {
    background-position: -1000px;
    margin-bottom: 30px;
  }
  .pricing-main_block {
    padding: 50% 0;
  }
  .pricing-plans_cards {
    flex-direction: column;
  }
  .pricing-plans_card {
    width: 100%;
    margin-bottom: 30px;
  }
  .pricing-plans_card_special {
    margin: 0;
    width: 100%;
    font-size: 41px;
    line-height: 41px;
    text-align: center;
  }
  .best_images-block {
    flex-direction: column;
  }
  .best-card {
    width: 100%;
  }
  .best-menu_item {
    flex-direction: column;
    align-items: start;
  }
  .best-menu_text {
    width: 100%;
    margin-bottom: 10px;
  }
  .best-menu_link {
    font-size: 20px;
  }
  .best-menu_price {
    padding: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
