*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #625e5c;
  background: #e1ddd9;
  line-height: 1.3;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.jf-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-decor-none {
  text-decoration: none;
}

.title {
  color: $title-color;
  font-size: $title-size;
  font-family: $title-family;
  font-weight: 300;
}

.special-title {
  color: $special-color;
  font-family: $special-family;
  font-size: $special-size;
  font-weight: 300;
}

.subtitle {
  font-size: $subtitle-size;
  color: $subtitle-color;
  line-height: 35px;
}

.btn {
  border: none;
  padding: 21px 54px;
  color: #fff;
  font-size: 18px;
  font-family: $subtitle-family;
}
