.main-nav {
  border-top: 0.01em solid #949190;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  
  &_logo {
    text-decoration: none;
    font-family: $title-family;
    text-transform: uppercase;
    font-size: 25px;
    color: $title-color;
    display: flex;
    align-items: center;
  }
  &_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &_item {
    margin: 0 18px;
    list-style: none;
  }

  &_link {
    text-transform: capitalize;
    text-decoration: none;
    color: $title-color;
    font-size: 16px;
    transition: 150ms ease-in;
    &:hover {
      color: $special-color;
    }
  }
}