.main-nav {
  &_logo {
    text-decoration: none;
    font-family: $title-family;
    text-transform: uppercase;
    font-size: 25px;
    color: $title-color;
    display: flex;
    align-items: center;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    margin: 0 18px;
    list-style: none;
  }

  &__link {
    text-transform: capitalize;
  }
}