.services {
  background-color: #A5644E;


  &-card {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 35px;

    &_subItem {
      display: inline-block;
      overflow: hidden;
    }

    &_items {
      border: solid 1px #ffffff;
      border-radius: 500px;
      padding: 10px;
    }

    &_item {
      overflow: hidden;
      display: block;
      border-radius: 500px;
    }


    &_title {
      font-family: $title-family;
      text-align: center;
      font-size: 55px;
      line-height: 68px;
      color: #FAF6F5;
      padding-top: 80px;
    }

    &_subtitle {
      color: #fff;
      font-size: 18px;
      line-height: 35px;
    }

    &_special {
      margin-left: -20px;
      width: 35%;
      white-space: nowrap;
      font-size: 80px;
    }

    &_client {
      display: flex;
      justify-content: right;
      align-items: center;
      flex-wrap: wrap;
    }

    &_img {
      display: block;
      transition: 1s;
      border-radius: 500px;
      width: 286px;
      height: 399px;
      transform: scale(1.1);

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

