@font-face {
  font-family: "Kinghoot";
  src: url("../../fonts/Kinghood.otf");
}

@font-face {
  font-family: "Caramello-free";
  src: url("../../fonts/Caramello-Free.otf");
}

$title-color: #171412;
$title-family: "Kinghoot", sans-serif, "Arial", "Helvetica";
$title-size: 55px;
$subtitle-color: #625e5c;
$subtitle-size: 18px;
$subtitle-family: "Manrope", sans-serif, "Arial", "Helvetica";
$special-family: "Caramello-free", sans-serif;
$special-color: #e66445;

