.pro {

  &-main {
    display: flex;
    justify-content: center;
    text-align: center;
    &_title {
      font-size: $title-size;
      line-height: 68px;
    }
    &_special {
      font-size: 80px;
      line-height: 80px;
      margin-left: -20px;
    }
  }

  &-cards {
    display: flex;
    justify-content: center;
    text-align: center;

  }
  &-card {



    &_img {

      &_photo {

      }
    }
    &_title {

      &_text {
        font-size: 20px;
        line-height: 35px;
        font-weight: 300;
        color: $title-color;
        font-family: $subtitle-family;
      }
    }
    &_subtitle {

      &_text {
        font-size: 18px;
        line-height: 35px;
        font-weight: 250;
        color: $subtitle-color;
        font-family: $subtitle-family;
      }
    }
  }
}